<!-- Footer -->
<div class="commitment">
    <ul>
        <li>
            <div class="li-icon">
                <i class="icon-chinhhang"></i>
            </div>
            <div class="li-content">
                <p class="txt-ttl">Chính hãng 100%</p>
                <p class="txt-ct">Hơn 100 thương hiệu nổi tiếng</p>
            </div>
        </li>
        <li>
            <div class="li-icon">
                <i class="icon-mpgiaohang"></i>
            </div>
            <div class="li-content">
                <p class="txt-ttl">Miễn phí giao hàng</p>
                <p class="txt-ct">Cho đơn hàng trên 500.000đ</p>
            </div>
        </li>
        <li>
            <div class="li-icon">
                <i class="icon-doi1"></i>
            </div>
            <div class="li-content">
                <p class="txt-ttl">1 đổi 1 trong vòng 1 năm</p>
                <p class="txt-ct">Tại 200 cửa hàng trên toàn quốc</p>
                <a href="#" class="txt-link">xem chi tiết</a>
            </div>
        </li>
        <li>
            <div class="li-icon">0%</div>
            <div class="li-content">
                <p class="txt-ttl">Trả góp 0%</p>
                <p class="txt-ct">Qua thẻ hoặc duyệt hồ sơ<br>với mọi sản phẩm trên 1.5 triệu</p>
            </div>
        </li>
    </ul>
</div>

<footer class="footer">
    <section>
        <div class="footer__tel item">
            <p class="tel-ttl"><span class="fRoboto">TỔNG ĐÀI</span>(Miễn phí gọi)</p>
            <div class="tel-ct">
                <p>Gọi mua<a href="tel:18001070">1800 1070</a>7:30 - 22:00</p>
                <p>Bảo hành<a href="tel:18001070">1800 1070</a>7:30 - 22:00</p>
                <p>Khiếu nại<a href="tel:18001070">1800 1070</a>7:30 - 22:00</p>
            </div>
        </div>
        <div class="footer-menu item">
            <p class="footer-menu-ttl"><a href="#">HỖ TRỢ KHÁCH HÀNG</a></p>
            <ul class="submenu-footer">
                <li><a href="#">Chính sách đổi trả, bảo hành</a></li>
                <li><a href="#">Biểu phí vận chuyển</a></li>
                <li><a href="#">Hướng dẫn mua online</a></li>
                <li><a href="#">Hướng dẫn đổi trả</a></li>
                <li><a href="#">hướng dẫn chọn size</a></li>
            </ul>
        </div>
        <div class="footer-menu item">
            <p class="footer-menu-ttl"><a href="#">VỀ BLUESPORT.COM</a></p>
            <ul class="submenu-footer">
                <li><a href="#">Giới thiệu công ty</a></li>
                <li><a href="#">Hệ thống 4 cửa hàng</a></li>
                <li><a href="#">Tuyển dụng</a></li>
                <li><a href="#">Liên hệ, hợp tác</a></li>
                <li><a href="#">Điểu khoản sử dụng</a></li>
            </ul>
        </div>
        <div class="footer-link item">
            <p>Kết nối với chúng tôi</p>
            <div>
                <a href="#"><i class="icon-facebook"></i></a>
                <a href="#"><i class="icon-youtube"></i></a>
            </div>
            <a href="#"><i class="icon-bocongthuong"></i></a>
        </div>
    </section>
    <p class="copyright">© 2021. Công ty cổ phần Thế Giới Di Động</p>
</footer>
<!-- / Footer -->
