<!-- Header -->
<header class="header">
    <div class="header__address">
        <a href="#">Bluesport mở bán 4 siêu thị ở TP. Hồ Chí Minh</a>
    </div>
    <div class="header__main">
        <section>
            <a asp-action="Index" asp-controller="Home" class="header-logo">
                <i class="icon-logo"></i>
            </a>
            <ul class="list-menu">
                <li>
                    <a href="javascript:void(0)">NAM</a>
                    <div class="wrap-menu">
                        <div class="wrap-menu-main">
                            <ul class="submenu">
                                <li>
                                    <a href="#">Giày dép</a>
                                    <ul class="sub-submenu">
                                        <li><a href="#">Adidas</a>
                                        <li><a href="#">Puma</a>
                                        <li><a href="#">Bittis</a>
                                        <li><a href="#">Skechers</a>
                                        <li><a href="#">Sneakers</a>
                                        <li><a href="#">Giày bóng rổ</a>
                                        <li><a href="#">Giày chạy bộ</a>
                                        <li><a href="#">Giày bóng đá</a>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Áo - quần</a>
                                    <ul class="sub-submenu">
                                        <li><a href="#">Adidas</a></li>
                                        <li><a href="#">Puma</a></li>
                                        <li><a href="#">Áo phông</a></li>
                                        <li><a href="#">Áo polo</a></li>
                                        <li><a href="#">Áo khoác</a></li>
                                        <li><a href="#">Quần nỉ</a></li>
                                        <li><a href="#">Quần soóc</a></li>
                                        <li><a href="#">Quần lót</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Phụ kiện</a>
                                    <ul class="sub-submenu">
                                        <li><a href="#">Ba lô</a></li>
                                        <li><a href="#">Túi xách & túi thể thao</a></li>
                                        <li><a href="#">Tai nghe</a></li>
                                        <li><a href="#">Đồng hồ</a></li>
                                        <li><a href="#">Tất vớ</a></li>
                                        <li><a href="#">Mũ nón</a></li>
                                        <li><a href="#">Phụ kiện khác</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Thể thao</a>
                                    <ul class="sub-submenu">
                                        <li><a href="#">Đạp xe</a></li>
                                        <li><a href="#">Chạy bộ</a></li>
                                        <li><a href="#">Bóng đá</a></li>
                                        <li><a href="#">Bóng rổ</a></li>
                                        <li><a href="#">Fitness/Yoga</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <a href="#" class="readmore-menu">Xem tất cả thể thao nam</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0)">NỮ</a>
                    <div class="wrap-menu">
                        <div class="wrap-menu-main">
                            <ul class="submenu">
                                <li>
                                    <a href="#">Giày dép</a>
                                    <ul class="sub-submenu">
                                        <li><a href="#">test</a>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Áo - quần</a>
                                    <ul class="sub-submenu">
                                        <li><a href="#">test</a>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Phụ kiện</a>
                                    <ul class="sub-submenu">
                                        <li><a href="#">test</a>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Thể thao</a>
                                    <ul class="sub-submenu">
                                        <li><a href="#">test</a>
                                    </ul>
                                </li>
                            </ul>
                            <a href="#" class="readmore-menu">Xem tất cả thể thao nữ</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0)">TRẺ EM</a>
                    <div class="wrap-menu">
                        <div class="wrap-menu-main">
                            <ul class="submenu">
                                <li><a href="#">test</a></li>
                                <li>
                                    <a href="#">test</a>
                                </li>
                                <li><a href="#">test</a></li>
                                <li><a href="#">test</a></li>
                            </ul>
                            <a href="#" class="readmore-menu">Xem tất cả các thương hiệu</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0)">THƯƠNG HIỆU</a>
                    <div class="wrap-menu">
                        <div class="wrap-menu-main">
                            <ul class="submenu">
                                <li><a href="#">test01</a></li>
                                <li>
                                    <a href="#">test01</a>
                                </li>
                                <li><a href="#">test01</a></li>
                                <li><a href="#">test01</a></li>
                            </ul>
                            <a href="#" class="readmore-menu">Xem tất cả các môn thể thao</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0)">MÔN THỂ THAO</a>
                    <div class="wrap-menu">
                        <div class="wrap-menu-main">
                            <ul class="submenu">
                                <li><a href="#">test02</a></li>
                                <li>
                                    <a href="#">test02</a>
                                </li>
                                <li><a href="#">test02</a></li>
                                <li><a href="#">test02</a></li>
                            </ul>
                            <a href="#" class="readmore-menu">Xem tất cả các môn thể thao</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0)">PHỤ KIỆN THỂ THAO</a>
                    <div class="wrap-menu">
                        <div class="wrap-menu-main">
                            <ul class="submenu">
                                <li><a href="#">test03</a></li>
                                <li>
                                    <a href="#">test03</a>
                                </li>
                                <li><a href="#">test03</a></li>
                                <li><a href="#">test03</a></li>
                            </ul>
                            <a href="#" class="readmore-menu">Xem tất cả các phụ kiện thể thao</a>
                        </div>
                    </div>
                </li>
            </ul>
            <form action="" class="header-search">
                <input type="text" placeholder="Tìm kiếm tên thương hiệu, môn thể thao...">
                <button><i class="icon-search"></i></button>
            </form>
            <a href="#" class="header-cart">
                <i class="icon-cart"></i>
                <span class="number">1</span>
            </a>
            <div class="search-show">
                <div class="history-txt">
                    <p class="txt">Có phải bạn muốn tìm</p>
                    <p>Giày đá bóng nam</p>
                    <p>Giày nike</p>
                    <p>Giày thể thao nam </p>
                </div>
                <div class="search-product">
                    <p class="search-product-txt">Sản phẩm gợi ý</p>
                    <ul>
                        <li>
                            <a href="#">
                                <div class="img">
                                    <img src="./images/img_search.png" alt="ADIDAS Adizero Takumi Sen 7 Tokyo">
                                </div>
                                <div class="ct">
                                    <h3>ADIDAS Adizero Takumi Sen 7 Tokyo</h3>
                                    <div class="price">
                                        <strong class="price-current">6.964.000đ</strong>
                                        <span class="price-old">8.205.000đ</span>
                                        <span class="price-percent">-20%</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img">
                                    <img src="./images/img_search.png" alt="ADIDAS Adizero Takumi Sen 7 Tokyo">
                                </div>
                                <div class="ct">
                                    <h3>ADIDAS Adizero Takumi Sen 7 Tokyo</h3>
                                    <div class="price">
                                        <strong class="price-current">6.964.000đ</strong>
                                        <span class="price-old">8.205.000đ</span>
                                        <span class="price-percent">-20%</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img">
                                    <img src="./images/img_search.png" alt="ADIDAS Adizero Takumi Sen 7 Tokyo">
                                </div>
                                <div class="ct">
                                    <h3>ADIDAS Adizero Takumi Sen 7 Tokyo</h3>
                                    <div class="price">
                                        <strong class="price-current">6.964.000đ</strong>
                                        <span class="price-old">8.205.000đ</span>
                                        <span class="price-percent">-20%</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img">
                                    <img src="./images/img_search.png" alt="ADIDAS Adizero Takumi Sen 7 Tokyo">
                                </div>
                                <div class="ct">
                                    <h3>ADIDAS Adizero Takumi Sen 7 Tokyo</h3>
                                    <div class="price">
                                        <strong class="price-current">6.964.000đ</strong>
                                        <span class="price-old">8.205.000đ</span>
                                        <span class="price-percent">-20%</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</header>
<!-- / Header -->