
.common-tab {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.common-tab li {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0 30px;
  position: relative;
  padding-bottom: 8px;
}
.common-tab li a {
  color: #888;
}
.common-tab li a:hover {
  color: #243A76;
}
.common-tab li::before {
  bottom: 0;
  content: '';
  height: 2px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 20px;
}
.common-tab li.active a {
  color: #243A76;
}
.common-tab li.active::before {
  background-color: #243A76;
}

.slider-banner .owl-dots {
  bottom: 17px;
}
.slider-banner img {
  max-width: 100%;
  width: 100%;
}


.promo {
  background: url(../images/bg_promo.png) repeat;
  background-size: 100%;
  margin-bottom: 30px;
  padding: 30px 0 35px;
}
.promo__ttl {
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
  line-height: 53px;
  text-align: center;
}
.promo .common-tab {
  margin-top: 15px;
}
.promo .common-tab li a {
  color: #FFF;
}
.promo .common-tab li a:hover {
  color: #FEC200;
}
.promo .common-tab li.active a {
  color: #FEC200;
}
.promo .common-tab li.active::before {
  background-color: #FEC200;
}
.listproduct-promo {
  margin-top: 25px;
}
.listproduct-promo .item:last-child {
  margin-right: 0;
}
.listproduct-promo .item-color-img.active {
  border: 1px solid #FEC200;
}
.listproduct-promo h3,
.listproduct-promo .item-gift,
.listproduct-promo .price-current,
.listproduct-promo .price-old {
  color: #FFF;
}
.listproduct-promo .item-img {
  height: 380px;
}
.listproduct-promo .item-label {
  left: 13px;
  top: 13px
}
.listproduct-promo .price-current,
.listproduct-promo .price-old {
  display: inline-block;
  vertical-align: middle;
}
.listproduct-promo .price-current {
  margin-right: 12px;
}


.block {
  margin-bottom: 90px;
}
.block__banner img {
  width: 100%;
}
.block .common-tab {
  margin: 25px 0;
}
.block .c-btn {
  margin-top: 35px;
}


.trademark {
  background: url(../images/bg_trademark.png) no-repeat;
  background-size: cover;
  background-position: center -170px;
  margin-top: -170px;
  padding-top: 170px;
}
.trademark__ttl {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  padding-bottom: 15px;
  position: relative;
  text-align: center;
}
.trademark__ttl:before {
  background-color: #FEC200;
  bottom: 0;
  content: '';
  height: 2px;
  left: calc(50% - 20px);
  position: absolute;
  width: 40px;
}
.trademark__list {
  margin-top: 50px;
  position: relative;
}
.trademark__list .item p {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 33.33%;
}
.trademark__list .item img {
  margin: 0 auto;
  width: auto;
}
.trademark__list .owl-dots {
  bottom: 12px;
}



.visit {
  display: flex;
  justify-content: space-between;
  margin: 85px -10px 55px;
}
.visit-main {
  background-color: #F7F7F7;
  padding: 20px 70px 0 80px;
  width: calc(50% - 20px);
}
.visit-main-ttl {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  text-align: center;
}
.visit .txt {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}
.visit-checkbox {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-top: 10px;
}
.visit-checkbox p {
  color: #444;
  line-height: 22px;
}
.visit-checkbox span {
  border: 1px solid #C4C4C4;
  height: 17px;
  margin-right: 7px;
  position: relative;
  width: 17px;
}
.visit-checkbox span.act::before,
.visit-checkbox span.act::after {
  background-color: #243A76;
  bottom: 1px;
  border-radius: 20px;
  content: '';
  position: absolute;
  width: 2px;
}
.visit-checkbox span.act::before {
  height: 8px;
  left: 4px;
  transform: rotate(-35deg);
}
.visit-checkbox span.act::after {
  height: 12px;
  left: 9px;
  transform: rotate(35deg);
}
.visit__list {
  margin-top: 15px;
}
.visit__list .item {
  display: none;
  margin-bottom: 20px;
}
.visit__list .item:nth-child(1),
.visit__list .item:nth-child(2),
.visit__list .item:nth-child(3),
.visit__list .item:nth-child(4) {
  display: block;
}
.visit__list .txt-name {
  color: #222;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
.visit__list .txt-address {
  color: #444;
  font-size: 14px;
  line-height: 22px;
  margin-top: 4px;
  padding-right: 25px;
  position: relative;
}
.visit__list .txt-address span {
  position: absolute;
  right: 3px;
  top: -5px;
}
.visit__list.open {
  height: 245px;
  overflow-y: scroll;
  padding-right: 10px;
}
.visit__list.open .item {
  display: block;
}
.visit__list.open::-webkit-scrollbar {
	width: 2px;
	background-color: #DFDFDF;
}
.visit__list.open::-webkit-scrollbar-thumb {
	background-color: #243A76;
}
.visit-btn {
  border: 1px solid #222;
  color: #222;
  display: block;
  font-weight: bold;
  line-height: 16px;
  max-width: 275px;
  margin: 0 auto;
  padding: 11px 10px;
  text-align: center;
  width: 100%;
}
.visit-btn span {
  padding-right: 20px;
  position: relative;
}
.visit-btn span::before {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #222;
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.visit-btn.act span::before {
  border-bottom: 5px solid #222;
  border-top: none;
}
.trademark-post {
  width: calc(50% - 20px);
}
.trademark-post a {
  display: block;
}
.trademark-post .post-item {
  position: relative;
}
.trademark-post .post-item::before {
  background: linear-gradient(0deg, rgba(23,23,23,1) 0%, rgba(23,23,23,0.5) 50%, rgba(23,23,23,0) 100%);
  bottom: 0;
  content: '';
  height: 235px;
  left: 0;
  position: absolute;
  width: 100%;
}
.trademark-post .post-item p {
  bottom: 0;
  color: #FFF;
  font-size: 23px;
  font-style: italic;
  font-weight: 300;
  line-height: 33px;
  left: 0;
  position: absolute;
  padding: 30px 25px;
  width: 100%;
}
.trademark-post .post-item img {
  display: block;
  max-width: 100%;
  width: 100%;
}
.trademark-post.owl-carousel .owl-nav {
  top: calc(50% - 18px);
}
.trademark-post.owl-carousel .owl-nav button.owl-prev {
  left: 10px;
}
.trademark-post.owl-carousel .owl-nav button.owl-next {
  right: 10px;
}